/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 17, 2015, 1:10:46 PM
    Author     : Casper
*/

@media print  
{
    div{
        page-break-inside: avoid;
    }
}

.navbar-brand {
    padding:0;
    margin-left: 10px;
}

.navbar-brand img{
    height: 60px;
    width: auto;
    z-index: 10;
    position: relative;
}

.formphotograaf {
    margin-bottom: 5px;
}

.photographerBtn {
    margin-top: 20px
}

@font-face {
    font-family: barcodefont;
    src: url(IDAutomationHC39M.ttf);
/*    src: url(fre3of9x.ttf);
    src: url(free3of9.ttf);*/
    font-weight: normal;
    font-style: normal;
}

.barcode{
    font-family: barcodefont;
    font-size: 18pt;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 20px;
    width: 400px;
}

.BarcodeHoeken {
    border-radius: 25px;
    border: 2px solid black;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    width: 400px;
}

.FloatLeft {
    float: left;
}

.FloatRight {
    float: right;
}

.github.ribbon {
    position: fixed;
    display: block;
    top: 40px;
    right: 0;
    border: 0;
    z-index: 1001;
}

.prettyprint {
    padding: 10px!important;
}

#wrap {
    padding-top: 70px;
}

#home h1 {
    margin-bottom: 30px;
}
#demo,
#examples,
#support,
#download {
    padding-top: 40px;
}
