/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 17, 2015, 1:10:46 PM
    Author     : Casper
*/

.navbar-brand {
    padding:0;
    margin-left: 10px;
}

.navbar-brand img{
    height: 60px;
    width: auto;
    z-index: 10;
    position: relative;
}

.formphotograaf {
    margin-bottom: 5px;
}

.photographerBtn {
    margin-top: 20px
}

@font-face {
    font-family: barcodefont;
    src: url(IDAutomationHC39M.ttf);
/*    src: url(fre3of9x.ttf);
    src: url(free3of9.ttf);*/
    font-weight: normal;
    font-style: normal;
}

.barcode{
    font-family: barcodefont;
    font-size: 18pt;
    margin-top: 50px;
}